<ngx-smart-modal #departamentos_form_modal identifier="departamentos_form_modal" [closable]="false" [escapable]="false"
[dismissable]="false" customClass="modal-smart-40 modal-smart-top-25" *ngIf="option.EnableModal">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="cerrar()">
        <span aria-hidden="true">&times;</span>
      </button>
      <h4 class="modal-title">
        <span *ngIf="c_accion==1">Nuevo departamento</span>
        <span *ngIf="c_accion==2">Editar departamento</span>
      </h4>
    </div>
    <dynamic-form-builder [fields]="defaultFields" (onClose)="cerrar($event)" (onSubmit)="ver($event)" [accion]="c_accion" [values]="values"></dynamic-form-builder>
  
</ngx-smart-modal>
    <dynamic-form-builder [fields]="defaultFields" (onSubmit)="ver($event)" (close)="cerrar()" *ngIf="!option.EnableModal" [accion]="c_accion" [values]="values"></dynamic-form-builder>
<ng-snotify></ng-snotify>  
